.popup {
  width: 100vw;
  height: 100vh;
  border: none;
  background-image: linear-gradient(to right bottom,#DCABC1,#987093);

  &::backdrop {
    background-image: linear-gradient(to right bottom,#DCABC1,#987093);
    backdrop-filter: blur(10px);
  }
  // &[aria-hidden="false"] {
  //   opacity: 1;
  //   pointer-events: all;
  // }

  // .about-modal {
  //   width: 100vh;
  //   background: black;

  //   .close {
  //     font-size: 20rem;
  //   }
  // }
}