.section {
  position: relative;
  margin-top: 20rem;

  width: 2.5rem;
  height: 12.5rem;

  border: $border-primary;

  cursor: pointer;
  pointer-events: auto;

  transition: all 0.5s linear;

  &:not(:last-child) {
    margin-right: 10rem;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    border-radius: 100% 100% 70% 70%;

    width: 4rem;
    height: 4.5rem;

    border: $border-primary;
    background-color: #8f2b2b;
    left: -0.75rem;
    top: -3rem;

    transition: all 0.2s linear;
  }

  &:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 0, 0.451), grey);

    &:before, &:after {
      background: linear-gradient(to bottom, rgba(255, 174, 0, 0.725), grey);
    }
  }

}