.wrapper {
  position: relative;
  top: -19.5rem;
  left: -5.5rem;

  width: 14rem;
  height: 21rem;
  background: rgba(255, 255, 0, 0.267);
  border-radius: 100% 100% 70% 70%;

  transition: all 0.5s linear;
}