body {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary;
}

.title {
  position: absolute;
  top: 8rem;
  left: 2rem;

  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1rem;

  transition: $transition-primary;

  &__main {
    top: 14rem;
    left: 42rem;
    font-size: 5.5rem;
  }

  &__popup {
    font-size: 10rem;

    &--skills,
    &--projects {
      color: $color-secondary;
    }
  }

  &__item {
    font-size: 1.7rem;
    color: $color-secondary;
  }
}

/* MEDIA */

@media screen and (max-width: 480px) {
  .title {
    &__main {
      top: 4rem;
      left: 2rem;
      font-size: 2rem;
    }
  }
}
