body {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary;
}

.title {

  position: absolute;
  top: 8rem;
  left: 2rem;

  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1rem;

  transition: all 0.5s ease;

  &__popup {
    font-size: 10rem;

    &--skills {
      color: $color-secondary;
    }
  }
}