.main {
  background-color: $color-secondary;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  transition: all 0.5s linear;

  &:hover {
    background: linear-gradient(to top, $color-primary, $color-secondary);
  }
}