// --- COLORS ---
$color-primary: #0B0A07;
$color-secondary: #F9FBF2;

$color-contacts: #FFF480;
$color-skills: #00916E;
$color-about: #FFEEDB;
$color-about-secondary: #ffeedbc6;


// FONT-SIZES
$default-font-size: 1.6rem;

// BORDERS
$border-primary: 0.1rem solid $color-primary;
$border-radius-primary: 2rem;