// --- COLORS ---
$color-primary: #0B0A07;
$color-primary-lighter: #272621;
$color-secondary: #F9FBF2;


$color-about: #FFEEDB;
$color-about-secondary: #ffeedbc6;
$color-projects: #98473E;
$color-skills: #00916E;
$color-contacts: #FFF480;


// FONT-SIZES
$default-font-size: 1.6rem;

// BORDERS
$border-primary: 0.1rem solid $color-primary;
$border-radius-primary: 2rem;