.projects-modal__container {
  background-color: $color-projects;

  &::backdrop {
    background-color: $color-projects;
  }

  .list__projects {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;



    &--item {
      border: $border-primary;
      border-radius: $border-radius-primary;
      padding: 4rem;

      .item-link {
        font-size: 2rem;
      }
    }
  }
}