.contacts-modal__container {
  background-color: $color-contacts;

  &::backdrop {
    background-color: $color-contacts;
  }

  address {
    width: 93rem;
    height: auto;
    margin-left: auto;

    .list__contacts {
      display: grid;
      grid-template-columns: 1.6fr 0.9fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.5rem 0.5rem;
      grid-auto-columns: auto;

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;

        font-size: 2rem;
        border: $border-primary;
        border-radius: 2rem;

        transition: all 0.1s ease-out;

        &:hover {
          background-color: $color-primary;
          color: $color-secondary;
          transform: scale(1.05);

          a {
            color: $color-secondary;
          }
        }

        a {
          font-size: 3rem;
          color: $color-primary;
          transition: all 0.1s ease-in-out;
        }
      }
    }
  }
}